<div *ngIf="hero">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>{{hero.name}} details!</h2>
    </div>
    <div class="panel-body">

      <div class="bg-info">
        <p class="bg-primary"> name is valid[{{name.valid}}]</p>
        <p class="bg-info"> is dirty[{{name.dirty}}]</p>
        <p class="bg-danger"> name is pristine [{{name.pristine}}]</p>
      </div>
      <div>
        <div class="form-group-item">
          <label>id: </label>{{hero.id}}</div>
        <div class="form-group-item">
          <label>name: </label>
          <input [(ngModel)]="hero.name" required placeholder="name" #name="ngModel" id="name" name="name" />
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Hero's' name is required
          </div>
        </div>
        <div class="form-group-item">
          <label>power: </label>
          <input [(ngModel)]="hero.power" placeholder="power" />
        </div>
      </div>
      <button class="btn btn-primary" (click)="goBack()">Back</button>
      <button class="btn btn-primary" [disabled]="!name.valid" (click)="save()">Save</button>
    </div>
    <div class="panel-footer">{{JSON.stringify(hero) }}</div>
  </div>

</div>