<h2>My Villains</h2>
<div>
  <label>Villain name:</label> <input #villainName />
  <button (click)="add(villainName.value); villainName.value=''">
    Add
  </button>
</div>
<ul class="villains">
  <li *ngFor="let villain of villains" (click)="onSelect(villain)"
      [class.selected]="hero === selectedVillain">
    <span class="badge">{{villain.id}}</span>
    <span>{{villain.name}}</span>
    <button class="delete"
      (click)="delete(villain); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedVillain">
  <h2>
    {{selectedVillain.name | uppercase}} is my Villain
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
